@using Model

@{
    ViewData["Title"] = "Audit Trail";
}

<h3> @ViewData["Title"] </h3>

<hr />

<p> List of Activities </p>

<script type="text/javascript">
    $(document).ready(function () {

        $.ajax({
            type: "GET",
            url: "/Logs/List",
            //data: $('#creationForm').serializeArray(),
            dataType: "text",
            async: true,
            cache: false,
            success: function (msg) {
                document.getElementById("log").innerHTML = msg;
            },
            error: function (req, status, error) {
                document.getElementById("log").innerHTML = error;
            }
        });
    });
</script>



