<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"> </script>

@using Model

@{
    ViewData["Title"] = "Audit Trail";
}

<h3> @ViewData["Title"] </h3>

<hr />

<p> List of Activities </p>

<script type="text/javascript">
    $(document).ready(function () {

        $.ajax({
            type: "POST",
            url: "/Transactions/Create",
            data: $('#creationForm').serializeArray(),
            dataType: "text",
            async: true,
            cache: false,
            success: function (msg) {
                document.getElementById("log").innerHTML = msg;
            },
            error: function (req, status, error) {
                document.getElementById("log").innerHTML = error;
            }
        });
    });
</script>



