@using Model

@model ActivityLog

@{
    ViewData["Title"] = "Audit Trail";
}

<h3> @ViewData["Title"] </h3>

<p> List of Activities </p>

<script type="text/javascript">
    $(document).ready(function () {

        $.ajax({
            type: "GET",
            url: "/Logs/List",
            dataType: "json",
            async: true,
            cache: false,
            success: function (data) {
                var result = "";
                $.each(data, function (id, item) {
                    const table = document.getElementById("tableBody");
                    let row = table.insertRow();
                    let date = row.insertCell(0);
                    date.innerHTML = item.Date;
                    let user = row.insertCell(1);
                    user.innerHTML = item.User;
                    let activity = row.insertCell(2);
                    activity.innerHTML = item.Activity;
                    result += '<b>Date : </b>' + item.Date + '<br/>' +
                        '<b> User :</b>' + item.User + '<br/>' +
                        '<b> Activity :</b>' + item.Activity + '<hr/>';
                });
                document.getElementById("logs").innerHTML = result;
            },
            error: function (req, status, error) {
                alert('Failed to retrieve logs.');
            }
        });
    });
</script>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody"></tbody>
</table>

<div id="logs"></div>




