@using Model.Enums
@using Model
@model Model.Transaction

@{
    ViewData["Title"] = "Import";
}

<h3> Process New Transaction </h3>

<hr />

<p> Fill in the following form: </p>

<div class="row">
    <div class="col-md-4">
        <form id="creationForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TransactionDate" class="control-label"></label>
                <input asp-for="TransactionDate" class="form-control" />
                <span asp-validation-for="TransactionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User" class="control-label"></label>
                <input asp-for="User" class="form-control" />
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Currency" class="control-label"></label>
                <select asp-for="Currency" class="form-control" asp-items="Html.GetEnumSelectList<Currency>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<TransactionType>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" id="btn-create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<hr />

<div id="log"> </div>

<script type="text/javascript">
    $('#creationForm').submit(function submitToServer(event) {
        event.preventDefault();
        if (!$('#creationForm').valid())
            return false;
        $.ajax({
            type: "POST",
            url: "/Transactions/Create",
            data: $('#creationForm').serialize(),
            dataType: "json",
            async: true,
            cache: false,
            success: function (response) {
                if (response.status == '@(Constants.Success)')
                    document.getElementById("log").className = "alert alert-success";
                else
                    document.getElementById("log").className = "alert alert-danger";
                document.getElementById("log").innerHTML = response.message;
            },
            error: function (req, status, error) {
                document.getElementById("log").innerHTML = error;
            }
        });
        return false;
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
