@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Dashboard </h1>
    <p> Expenses at a glance </p>
    <p> Here is an overview of all expenses in a graphical form </p>
</div>
