@using Model

@{
    ViewData["Title"] = "Earnings Report";
}

<h5>
    <a asp-area="" asp-controller="Report" asp-action="Earnings">Earnings</a>
    <a asp-area="" asp-controller="Report" asp-action="Expenses">Expenses</a>
</h5>

<hr />

<h6> @ViewData["Title"] </h6>

<p>  </p>
