@using Model

@{
    ViewData["Title"] = "Report";

    //var transactionsById = (Dictionary<string, TransactionalData>)ViewData["TransactionalData"]!;
}

<h2>Report</h2>

<p>Hello from our View Template!</p>

<ul>
    @{
        //foreach (var kvp in transactionsById)
        //{
        //    <li>@kvp.Key</li>
        //}
    }
</ul>



