@using Model

@{
    ViewData["Title"] = "Account Transaction Report";
}

<div class="evenly-distributed-children">
    <button class="button6" id="btnOverview" role="button" onclick="myFunction()"> Overview </button>
    <button class="button6" id="btnEarnings" role="button" onclick="myFunction()"> Earnings </button>
    <button class="button6" id="btnExpenses" role="button" onclick="myFunction()"> Expenses </button>
</div>

<h6> @ViewData["Title"] </h6>

<p> Summary </p>

<ul>
    @{

    }
</ul>



